// Nav
.plate svg {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.burger {
    filter: url(#gooeyness);
}
.x {
    transform: scale(0);
    transition: transform 400ms;
}
.line {
    fill: none;
    stroke: #4c4c4c;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms, color 500ms 200ms;
}
.x .line {
    stroke-width: 5.5px;
}
/* First plate */
.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}
.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}
.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
    stroke: white;
}
.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}
.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

// Tree

.reflections-background {
    padding: 40px;
}
.reflections-background img {
    height: auto;
    width: 100%;
    max-width: 800px;
    min-height: 648px;
    margin: 0 auto;
}

.flowers {
    width: 240px;
    height: 240px;
    text-align: center;
    position: absolute;
    top: 14%;
    right: 25%;
}
.flower {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.group-0 .shape {
    background: url(/images/flower.svg);
}
.group-1 .shape {
    background: url(/images/flower1.svg);
}
.group-2 .shape {
    background: url(/images/flower2.svg);
}
.group-3 .shape {
    background: url(/images/flower3.svg);
}

.shape {
    filter: brightness(0.1) sepia(0) hue-rotate(180deg) saturate(10);
    background-size: 50% 50% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 50px;
    height: 50px;
}

.hovered.red .shape {
    filter: invert(11%) sepia(93%) saturate(5379%) hue-rotate(353deg) brightness(68%) contrast(106%);
}
.hovered.yellow .shape {
    filter: invert(76%) sepia(39%) saturate(535%) hue-rotate(359deg) brightness(103%) contrast(83%);
}
.hovered.green .shape {
    filter: invert(57%) sepia(22%) saturate(1096%) hue-rotate(123deg) brightness(87%) contrast(97%);
}
.hovered.blue .shape {
    filter: invert(28%) sepia(10%) saturate(1707%) hue-rotate(152deg) brightness(86%) contrast(97%);
}
.hovered.indigo .shape {
    filter: invert(23%) sepia(12%) saturate(1380%) hue-rotate(196deg) brightness(96%) contrast(88%);
}
.hovered.purple .shape {
    filter: invert(12%) sepia(84%) saturate(4513%) hue-rotate(267deg) brightness(85%) contrast(112%);
}
.hovered.pink .shape {
    filter: invert(91%) sepia(41%) saturate(1359%) hue-rotate(293deg) brightness(101%) contrast(101%);
}

.flowers > .flower {
    animation-name: animateIn;
    animation-duration: 100ms;
    animation-delay: calc(var(--staggered) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.verse {
    color: $brown;
    padding: 20px;
    width: 400px;
    visibility: hidden;
    background: rgba(76, 76, 76, 0.94);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    position: absolute;
    top: 50px;
}

.right-side .verse {
    right: 0;
}
.left-side .verse {
    left: 0;
}

.flower:hover > .verse {
    visibility: visible;
    opacity: 1;
}

.flowers > .flower.active {
    opacity: 1;
}

.flowers .flower:hover {
    z-index: 2;
}
.flower.hovered > .verse,
.flower:hover > .verse {
    visibility: visible;
    opacity: 1;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }
    100% {
        opacity: 1;
    }
}
