@import './variables.scss';
@import './animation.scss';

@font-face {
    font-family: 'Brush Script Std';
    src: url('/fonts/BrushScriptStd.woff2') format('woff2'), url('/fonts/BrushScriptStd.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

body {
    color: #4c4c4c;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Brush Script Std';
    font-weight: 500 !important;
    font-style: italic;
    font-size: 20px !important;
}

.flex {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.border {
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 40px;
    width: 33.33%;
    margin: 100px;
}

.title {
    width: $sidebar-width;
    text-align: left;
    z-index: 10000;
    position: fixed;
    min-height: 100vh;
    margin: 0;
    background: $black;
    color: $brown;
    overflow: hidden;
    z-index: 1;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}
.nav.active {
    width: 300px;
}

.nav-links {
    position: relative;
    right: -300px;
    transition: all 0.4s ease-in-out;
    min-height: 100vh;
}

.nav-links.active {
    background: $black;
    color: $brown;
    right: 0;
    width: 300px;
    min-height: 100vh;
    padding-top: 80px;
}
.nav-link {
    display: block;
    padding: 15px;
    text-align: center;
}
.nav-link:hover {
    color: white;
}

.page {
    width: calc(100% - (#{$sidebar-width}));
    margin-left: $sidebar-width;
    position: relative;
    z-index: 2;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
.view {
    padding: 30px;
}

// .child-view {
//   position: absolute;
//   transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
//   width: calc(100% - 120px);
//   background: $dark-blue;
//   height: 100%;

//   display: flex;
//   justify-content: center;
//   color: white;
//   text-align: center;
//   align-items: center;
// }
// .child-wrapper {
//   position: relative;
//   height: 50vh;
//   display: inline-block;
//   width: calc(100% - 230px);
// }

.slide-up-enter,
.slide-down-leave-active {
    opacity: 0;
    transform: translate(0, 300px);
}
.slide-up-leave-active,
.slide-down-enter {
    opacity: 0;
    transform: translate(0, -300px);
}
