$black: black;
$white: white;
$blue: #0c2a46;
$dark-blue: #060e1e;
$brown: #c0a27a;
$orange: #ec8044;
$purple: #5f4873;
$gray: #b5b9bd;
$dark-gray: rgb(39, 40, 41);
$blue: rgba(35, 104, 155, 0.8);

$in-out-back: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$background-gradient: linear-gradient(bottom, $blue, $dark-blue);

$sidebar-width: 140px;
